<div>

  <hr>

   <div style="width:750px " >
      <%= form_for("/tests/summary", method: "get") do %>
        <!-- <%= label_tag(:q, "Release:") %>
         <%= select(:get, :release, @release_options) %> -->
         <%= label_tag(:q, "Search By Project") %>
         
        <!-- <%= select("get",:project, @project_options, {include_blank: true}) %> -->
         <%= select_tag(:project , options_for_select( @project_options),{include_blank: true}) %>
         <!-- <%= collection_select(:test, :project1, @project_options,  :to_s,:to_s, {:prompt => true}) %> -->
         <button type="submit" class="btn" style = "margin-bottom:10px"> <i class="icon-search"></i> </button>
      <% end %>
</div>


  <div style="width:750px " >
      <%= form_for("/tests/summary", method: "get") do %>
         <b><%= label_tag(:q, "Search By Release") %> </b>
         <%= select_tag(:rel, options_for_select( @release_options),{include_blank: true}) %>
         <button type="submit" class="btn" style = "margin-bottom:10px"> <i class="icon-search"></i> </button>
      <% end %>
</div>


<!-- debug(params) %> -->

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      
      function drawChart() {

        var array1 = <%= raw @dataArray.to_json %>;


        var data = google.visualization.arrayToDataTable(array1);

        var options = {
          title: 'Test Automation Summary',
          vAxis: {title: 'Test Module',  titleTextStyle: {color: 'black'}}
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);

         var chart = new google.visualization.BarChart(document.getElementById('chart_div4'));
        chart.draw(data, options);

      }
    </script>

    <hr>

<!-- Chart Type 2 -->

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var array1 = <%= raw @dataArray.to_json %>;


        var data = google.visualization.arrayToDataTable(array1);

        var options = {
          title: 'Test Automation Summary',
          hAxis: {title: 'Module Name ', titleTextStyle: {color: 'black'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div5'));
        chart.draw(data, options);
      }
    </script>

   <span>

    <div id="chart_div" style="width: 800px; height: 1450px;" class = "box"></div> </p>
    <div id="chart_div5" style="width: 1800px  ; height: 450px;" class = "box"></div>
   </span>
</div>